<mat-tab-group>
    <mat-tab label="Pollination">
        <div class="add-p-container" fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap.gt-xs="20px" fxLayoutAlign.gt-xs="start center">
            <mat-card>
            <app-pollination-create fxFlex="100%" fxFlex.gt-xs="300px"></app-pollination-create>
            </mat-card>
            <app-pollination-list fxFlex.xs="100%" fxFlex></app-pollination-list>
        </div>
    </mat-tab>
    <mat-tab label="Crops">
        <div class="crop-container" fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap.gt-xs="20px" fxLayoutAlign.gt-sx="center center">
            <mat-card>
                <app-crop-create></app-crop-create>
            </mat-card>
            <mat-card>
                <app-crop-create></app-crop-create>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>