<div>
    <mat-spinner *ngIf="!isLoaded"></mat-spinner>
    <div  class="card-wrapper" *ngIf="isLoaded">
        <mat-card *ngFor="let crop of crops">
            <mat-card-header>
                <mat-card-title>Room: {{ crop.room}}</mat-card-title>
                <mat-card-subtitle>Crop: {{ crop.crop }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Species: {{crop.species}}</p>
                <p>Status: {{crop.status}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" [routerLink]="['/products', crop.cropId]">Details</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>