@import "../../styles.scss";

.mat-button, .siteName  {
    // color: #ffa726;
    color: rgba(#333, 0.8);
    font-family: 'Alegreya Sans SC', sans-serif;
}
.siteLink, .siteName {
    text-decoration-line: none;
    font-size: 1.5rem;
    color: $text-on-2;
    // @media only screen and (max-width: 600px) {
    //     display: none;
    // }
}
.siteName:hover {
    opacity: 0.7;
}
.mat-button {
    font-size: 1rem;
}

.mat-toolbar {
    top: 0;
    position: fixed;
    background-color: $color-2-light;
    // background-color: #ffa726;
    z-index: 10;
    box-shadow: 1px 1px 20px rgba(#333, 0.5);
    // height: 10vh;
    // @media only screen and (max-width: 600px) {
    //     height: 15vh;
    // }

    // @media only screen and (max-width: 736px) {
    //     height: 20vh;
    // }
}

.logo-img {
    background-image: cover;
    object-fit: cover;
    width: 5rem;
    height: auto;
}
