.mat-button, .siteName  {
    // color: #ffa726;
    color: rgba(orangered, 0.8);
    font-family: 'Alegreya Sans SC', sans-serif;
}
.siteLink, .siteName {
    text-decoration-line: none;
    font-size: 2.5rem;
}
.siteName:hover {
    opacity: 0.7;
}
.mat-button {
    font-size: 1.5rem;
}

.mat-toolbar {
    top: 0;
    position: sticky;
    background-color: rgba(#eee, 0.3);
    // background-color: #ffa726;
    z-index: 10;
}
