<div fxLayout="row" fxLayoutAlign="center center" class="footer-wrapper">
        <div class="footer-item">
            <p align="center">
                13 Moo. 3 Tambon. Khombang <br>
                Amphore. Muang, <br>
                Chanthaburi Province <br>
                22000 <br>
                Tel: +66 092-993-1147 <br>
                FB: <a mat-button href="https://www.facebook.com/HOMEMADE.FARM.THAI/" target="_blank">Homemade Farm</a>
            </p>   
        </div>
    </div>