<mat-card class="card" class="mat-elevation-z5" fxLayout.xs="column">
    <mat-card-header>
        <mat-card-title>{{ _seed.name }}</mat-card-title>
        <mat-card-subtitle>Days of Harvesting: {{ _seed.harvestdays }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="_seed.imgUrl">
    <mat-card-content fxLayoutAlign.xs="center stretch">
        <p>
            Total: {{ _seed.total }} seeds. |  <span>{{ _seed.status }}</span>
        </p>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="end" fxLayoutGap="0.2rem">
        <button mat-mini-fab color="primary" (click)="onAdd()"><mat-icon>add</mat-icon></button>
        <button mat-mini-fab color="primary" (click)="onEdit()"><mat-icon>edit</mat-icon></button>
        <button mat-mini-fab color="primary" (click)="onTake()"><mat-icon>eject</mat-icon></button>
        <!-- <button mat-mini-fab color="warn" (click)="onDelete()"><mat-icon>close</mat-icon></button> -->
    </mat-card-actions>
</mat-card>
