<div *ngIf="dataSource != undefined && isLoaded === true; else loading" fxLayout="column" fxLayoutAlign="center" class="container">
    <div fxFlexOffset="1rem" fxLayoutAlign="space-between" class="header">
        <div class="header-details">
            <h1>Product Table</h1>
        </div>
        <div class="header-menu">
            <button routerLink="../" mat-fab><mat-icon>arrow_back</mat-icon></button>
        </div>
    </div>
    <div class="filter-wrapper">
        <mat-form-field fxFlex="100%">
            <input matInput type="search" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    </div>
    <mat-table class="table" [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="row">
            <mat-header-cell *matHeaderCellDef>Row</mat-header-cell>
            <mat-cell *matCellDef="let element" >{{ element.row }}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="tagColor">
            <mat-header-cell *matHeaderCellDef>TagColor</mat-header-cell>
            <mat-cell *matCellDef="let element" [style.color]="element.tagColor">{{ element.tagColor }}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="species">
            <mat-header-cell *matHeaderCellDef>Species</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.species }}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="grade">
            <mat-header-cell *matHeaderCellDef>Grade</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.grade }}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="estHarvestDate">
            <mat-header-cell *matHeaderCellDef>estHarvestDate</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.estHarvestDate }}</mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>

<ng-template #loading>
    <mat-spinner class="spinner" fxLayoutAlign="center center"></mat-spinner>
</ng-template>

