.container {
    margin-top: 5rem;
    margin-bottom: 2rem;
}
.header {
    padding: 1rem;
}
.filter-wrapper, .table, .spinner {
    width: 80%;
    margin: 0 auto;
}
.table-container {
    height: 60vh;
    width: 80%;
    margin: 0 auto;
    overflow: auto;
}
.spinner {
    margin-top: 5rem;
}

.table-row:hover {
    cursor: pointer;
    background-color: #eee;
}
