.header {
    padding: 1rem;
}
.filter-wrapper, .table, .spinner {
    width: 80%;
    margin: 0 auto;
}

.spinner {
    margin-top: 1rem;
}

.tbl-row:hover {
    cursor: pointer;
    background-color: #eee;
}