<div class="formWrapper">
    <h3>Add Pollination</h3>
    <form [formGroup]="pollinationForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-select formControlName="cropId">
                <mat-option *ngFor="let crop of cropsList" [value]="crop.cropId">
                    {{ crop.cropId }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input 
            matInput
            formControlName="tagColor" 
            placeholder="Tag color">
            <mat-error>Must not be empty</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input 
            matInput
            type="date"
            formControlName="createdAt" 
            placeholder="Created at">
            <mat-error>Must not be empty</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">Add</button>
    </form>
</div>