<div fxLayoutAlign="center center" fxLayout="column">
    <h1 mat-dialog-title>{{ input.date }}</h1>
    <div mat-dialog-content>
        <mat-divider></mat-divider>
        <mat-list>
            <mat-list-item>
                <mat-icon mat-list-icon>tune</mat-icon>
                <!-- <div mat-line>category:</div> -->
                <div mat-line> - {{ input.category }}</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>spa</mat-icon>
                <!-- <div mat-line>fertilizer:</div> -->
                <div mat-line *ngFor="let e of input.fertilizer; ">
                    - {{ e.formula }} | {{ e.amount }} {{ e.unit }}
                </div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>event_available</mat-icon>
                <!-- <div mat-line>Day Count from toBag:</div> -->
                <div mat-line>- day of {{ input.counter }} </div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>sms</mat-icon>
                <!-- <div mat-line>description:</div> -->
                <div>{{ input.description }}</div>
            </mat-list-item>
        </mat-list>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" [mat-dialog-close] = "false">Close</button>
        <!-- <button mat-raised-button [mat-dialog-close] = "input.id">Yes</button> -->
    </div>
</div>
