<div class="card" *ngIf="melon$ | async; let melon; else loading;">
    <div class="card-1">
        <h3>{{ melon.name }}</h3>
        <img *ngIf="melon.imgUrl !== null" class="card-1__img" [src]="melon.imgUrl">
        <img *ngIf="melon.imgUrl == null" class="card-1__img" [src]="NoImage">
    </div>
    <div class="card-2" (click)="onShow()">
        <h4>โรงเรือนที่: {{ _crop.room }} - {{_crop.crop}}</h4>
        <p>
            เมล่อนเปลือก{{ melon.isNet}}
            เนื้อสี <span>"{{ melon.meatColor}}"</span>
            สัมผัสเนื้อ<span>"{{ melon.texture }}"</span>
            ความหวาน {{ melon.brix }} องศาบริกซ์
        </p>
        <p>
            <strong>วันที่เก็บเกี่ยว: </strong><span class="dueDate" *ngIf="loaded; else waiting;">{{ harvestDate[0].harvestDate }}</span>
        </p>

    <div
    [ngClass]="{'card-2__more-clicked': showMore === true}"
    [ngClass.xl]="{'card-2__more-clicked': true}" 
    class="card-2__more">
        <p>
            {{ dayCount }} / {{ melon.harvestdays + 30 }} days
        </p>
        <p>
            of Growing
        </p>
    </div>
    </div>
</div>

<ng-template #loading>
    <h2 class="loading">Loading .. </h2>
</ng-template>

<ng-template #waiting>
    <span class="dueDate">รอผสมดอก</span>
</ng-template>