<!-- <div fxLayout="column" class="container">
    <div style="--aspect-ratio:1;">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeE7D_s5yShegU1S9GdPPQkm3HRpSCutZxomdOYRrLdTAM_fA/viewform?embedded=true" 
        width="50%"
        frameborder="0" 
        marginheight="0" 
        marginwidth="0">กำลังโหลด…</iframe>
    </div>
    <div style="--aspect-ratio:1;">
    </div>
</div> -->
<mat-tab-group color="warn">
    <mat-tab label="ฟอร์มจองลูก">
        <div class="form-wrapper" style="--aspect-ratio:1161/900;">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeE7D_s5yShegU1S9GdPPQkm3HRpSCutZxomdOYRrLdTAM_fA/viewform?embedded=true" 
            height="100vw"
            frameborder="0" 
            marginheight="0" 
            marginwidth="0">กำลังโหลด…</iframe>
        </div>
    </mat-tab>
    <mat-tab label="รายการสั่งจอง">
        <div style="--aspect-ratio:1161/900;">
            <iframe
            height="100vw"
            frameborder="0"
            marginheight="0"
            marginwidth="0" 
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQ44M3vv6u2zYrTqt3w6vv5OQQP6gcyMSd9K_OVCF6YZAoLbCrD6GH006CLl5bHtWEi7sX7dknJvDj_/pubhtml?gid=600213499&amp;single=true&amp;widget=true&amp;headers=false">
            </iframe>
        </div>
    </mat-tab>
</mat-tab-group>