<div *ngIf="cropDetails | async; else loading; let crop" fxLayout="column" class="container">
    <div fxLayoutAlign="space-between center" class="header">
        <div class="header-details">
            <h1>Room: {{ crop.room }}</h1>
            <h3>Crop: {{ crop.crop }}</h3>
        </div>
        <div class="header-menu">
            <button routerLink="/products" mat-fab><mat-icon>arrow_back</mat-icon></button>
        </div>
    </div>
    <div ngStyle.xs="width: 90%;" fxLayout="column" fxLayoutGap="1rem" fxLayoutAlign="center" class="dashboard">
        <div fxLayout.xs="column" ngStyle.xs="width: 100%;" fxLayout="row wrap" fxLayoutGap="1rem" class="row-content-1">
            <div class="crop-details">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Created At</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        {{ crop.createdAt }}
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="totray">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>toTrayAt</mat-card-title>
                    </mat-card-header>
                    <mat-card-content *ngIf="crop.toTrayAt != null; else trayUpdate;">
                       {{ crop.toTrayAt }}
                    </mat-card-content>
                </mat-card>
            </div>
            <div *ngIf="crop.status != 'Initial'" class="tobag">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>toBagAt</mat-card-title>
                    </mat-card-header>
                    <mat-card-content *ngIf="crop.toBagAt != null; else bagUpdate;">
                        {{ crop.toBagAt }}
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Status</mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayoutAlign="center center">
                <h3>{{ crop.status }}</h3>
            </mat-card-content>
        </mat-card>
        <mat-card *ngIf="crop.status != 'Initial'" class="tagTable">
            <div class="tagTable-selector">
                <mat-form-field>
                    <mat-label>Type select:</mat-label>
                    <mat-select (selectionChange) = "onTypeSnapshotChange($event, crop.status)">
                        <mat-option *ngFor="let item of crop.species" [value]="item"> {{ item }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <ng-container *ngIf="all$ | async; else loading; let all">
                    <ul>
                        <li *ngFor = "let type of all">{{ type.tagColor }} est: {{ type.estHarvestDate }}</li>
                    </ul>
                </ng-container> -->
            </div>
            <div *ngIf="all$ | async; let dataSource" class="tagTable-table">
                <form *ngIf="crop.status != 'postPollination'" [formGroup]="tagCreateForm" (ngSubmit)="onTagCreate()">
                    <mat-form-field >
                        <input
                        type="text"
                        formControlName="tagColor"
                        placeholder="TagColor"
                        matInput>
                    </mat-form-field>
                    <button mat-button type="submit" color="primary">Create</button>
                </form>
                <mat-table *ngIf="dataSource.length > 0" [dataSource]="dataSource">
                    <ng-container matColumnDef="tagColor">
                        <mat-header-cell *matHeaderCellDef>tagColor</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.tagColor }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="createdAt">
                        <mat-header-cell *matHeaderCellDef>createdAt</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.createdAt }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="currentDay">
                        <mat-header-cell *matHeaderCellDef>currentDay</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.currentDay }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="dayLeft">
                        <mat-header-cell *matHeaderCellDef>dayLeft</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.dayLeft }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="estHarvestDate">
                        <mat-header-cell *matHeaderCellDef>estHarvestDate</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.estHarvestDate }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef><mat-icon>more_vert</mat-icon></mat-header-cell>
                        <mat-cell *matCellDef="let element"><button (click)="onTagDelete(element.typeId)" mat-icon-button color="warn"><mat-icon>backspace</mat-icon></button></mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <div *ngIf="dataSource.length === 0">no data please create one.</div>
                <div class="pollinationFinish" *ngIf="dataSource.length > 0 && crop.status != 'postPollination'">
                    <button (click)="onFinish()"  mat-raised-button color="warn">Finish ?</button>
                </div>
            </div>
        </mat-card>
        
    </div>
</div>




<ng-template #loading>
    <div class="spinner" fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>

<ng-template #trayUpdate>
    <form [formGroup]="toTrayForm" (ngSubmit)="onUpdate()">
        <mat-form-field>
            <input 
            type="date"
            formControlName="toTrayAt" 
            matInput>
        </mat-form-field>
        <button mat-button type="submit" color="primary">Add</button>
    </form>
</ng-template>

<ng-template #bagUpdate>
    <form [formGroup]="toBagForm" (ngSubmit)="onUpdate()">
        <mat-form-field>
            <input 
            type="date" 
            formControlName="toBagAt"
            matInput>
        </mat-form-field>
        <button mat-button type="submit" color="primary">Add</button>
    </form>
</ng-template>

<ng-template #typeCreate>

</ng-template>