<div *ngIf="cropDetails | async; else loading; let crop" fxLayout="column" class="container">
    <div fxFlexOffset="1rem" fxLayoutAlign="space-between" class="header">
        <div class="header-details">
            <h1>Room: {{ crop.room }}</h1>
            <h3>Crop: {{ crop.crop }}</h3>
        </div>
        <div class="header-menu" fxLayoutGap="0.5rem">
            <button routerLink="/admin" mat-fab><mat-icon>arrow_back</mat-icon></button>
        </div>
    </div>
    <div>
        <mat-tab-group>
            <mat-tab label="Main">
                <div class="content-wrapper">
                    <div ngStyle.xs="width: 90%;" fxLayout="column" fxLayoutGap="1rem" fxLayoutAlign="center" class="dashboard">
                        <div fxLayout.xs="column" ngStyle.xs="width: 100%;" fxLayout="row wrap" fxLayoutGap="1rem" class="row-content-1">
                            <div class="crop-details">
                                <app-status-card
                                [data]="crop.createdAt"
                                title="วันที่เริ่มปลูก"
                                card_hint="เร่ิมต้นตั้งแต่เพาะเมล็ด">
                              </app-status-card>
                            </div>
                            <div class="totray">
                                <app-status-card
                                *ngIf="crop.toTrayAt != null; else trayUpdate;"
                                [data]="crop.toTrayAt"
                                title="วันที่ลงถาดเพาะชำ"
                                card_hint="วันที่ลงถาดเพาะชำ">
                              </app-status-card>
                            </div>
                            <div *ngIf="crop.status != 'Initial'" class="tobag">
                                <app-status-card
                                *ngIf="crop.toBagAt != null; else bagUpdate;"
                                [data]="crop.toBagAt"
                                title="วันที่ปลูกลงแปลง"
                                card_hint="วันที่ปลูกลงแปลงเพาะปลูก">
                              </app-status-card>
                            </div>
                            <div *ngIf="crop.status === 'Closed'" class="crop-dayCount">
                                <app-status-card
                                [data]="crop.fromStartCount"
                                title="ระยะเวลาปลูก (วัน)"
                                card_hint="จำนวนวันทั้งหมดที่ใช้ในการปลูกคอร์ปนี้">
                              </app-status-card>
                            </div>
                            <div *ngIf="crop.status === 'Closed'" class="crop-dayCount">
                                <app-status-card
                                [data]="crop.fromTrayToBag"
                                title="ระยะการเพาะกล้า (วัน)"
                                card_hint="เริ่มต้นจากลงถาดจนถึงลงแปลงปลูก">
                              </app-status-card>
                            </div>
                            <div class="crop-dayCount">
                              <app-status-card
                                *ngIf="crop.status != 'Closed'"
                                [data]="dayCount"
                                title="ระยะเวลาปลูกหลังจากลงแปลง (วัน)"
                                card_hint="นับตั้งแต่ลงแปลงปลูก">
                              </app-status-card>

                              <app-status-card
                                *ngIf="crop.status === 'Closed'"
                                [data]="crop.fromToBagCount"
                                title="ระยะเวลาปลูกหลังจากลงแปลง (วัน)"
                                card_hint="นับตั้งแต่ลงแปลงปลูก">
                              </app-status-card>
                            </div>
                        </div>
                        <app-status-card
                                [data]="crop.status"
                                title="สถานะ"
                                card_hint="ตอนนี้ถึงขั้นตอนไหนแล้ว">
                              </app-status-card>
                        <mat-card *ngIf="crop.status != 'Initial'  && crop.status != 'Closed'" class="tagTable">
                            <div class="tagTable-selector">

                                <mat-form-field>
                                    <mat-label>Type select:</mat-label>
                                    <mat-select (selectionChange) = "onTypeSnapshotChange($event, crop.status)">
                                        <mat-option *ngFor="let item of crop.species; let index = index" [value]="item.species"> {{ item.species }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div *ngIf="all$ | async; let dataSource" class="tagTable-table">
                                <form *ngIf="crop.status != 'postPollination' && crop.status != 'Harvesting' && crop.status != 'Closed'" [formGroup]="tagCreateForm" (ngSubmit)="onTagCreate()">
                                    <mat-form-field >
                                        <input
                                        type="text"
                                        formControlName="tagColor"
                                        placeholder="TagColor"
                                        matInput>
                                    </mat-form-field>
                                    <button mat-button type="submit" color="primary">Create</button>
                                </form>
                                <mat-table *ngIf="dataSource.length > 0;" [dataSource]="dataSource">
                                    <ng-container matColumnDef="tagColor">
                                        <mat-header-cell *matHeaderCellDef>tagColor</mat-header-cell>
                                        <mat-cell *matCellDef="let element" [style.color]="element.tagColor">{{ element.tagColor }}</mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="createdAt">
                                        <mat-header-cell *matHeaderCellDef>createdAt</mat-header-cell>
                                        <mat-cell *matCellDef="let element">{{ element.createdAt }}</mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="currentDay">
                                        <mat-header-cell *matHeaderCellDef>currentDay</mat-header-cell>
                                        <mat-cell *matCellDef="let element">{{ element.currentDay }}</mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="dayLeft">
                                        <mat-header-cell *matHeaderCellDef>dayLeft</mat-header-cell>
                                        <mat-cell *matCellDef="let element">{{ element.dayLeft }}</mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="estHarvestDate">
                                        <mat-header-cell *matHeaderCellDef>estHarvestDate</mat-header-cell>
                                        <mat-cell *matCellDef="let element">{{ element.estHarvestDate }}</mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="actions">
                                        <mat-header-cell *matHeaderCellDef><mat-icon>more_vert</mat-icon></mat-header-cell>
                                        <mat-cell *matCellDef="let element"><button (click)="onTagDelete(element.typeId)" mat-icon-button color="warn"><mat-icon>backspace</mat-icon></button></mat-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                </mat-table>

                                <div *ngIf="dataSource.length === 0">no data please create one.</div>
                                <div class="pollinationFinish" *ngIf="dataSource.length > 0 && crop.status != 'postPollination' && crop.status !== 'Harvesting'">
                                    <button (click)="onFinish()"  mat-raised-button color="warn">Finish ?</button>
                                </div>
                            </div>
                        </mat-card>
                        <app-product class="product-sorting-box" *ngIf="crop.status === 'postPollination' || crop.status === 'Harvesting' || crop.status === 'Closed'" [crop]="crop" [cropId]="docId"></app-product>
                        <div *ngIf="crop.status === 'Harvesting'" fxLayoutAlign="end" class="closing-container">
                            <button mat-raised-button color="warn" (click)="onCropClose(crop)">Close Corp ?</button>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Activities">
                <div class="content-wrapper">
                    <app-single-activities [crop]="crop" [docId]=[docId]></app-single-activities>
                </div>
            </mat-tab>
            <mat-tab *ngIf="crop.status === 'Closed'" label="Report">
              <app-report [crop]="crop" [docId]="docId"></app-report>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>




<ng-template #loading>
    <div class="spinner" fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>

<ng-template #trayUpdate>
    <form [formGroup]="toTrayForm" (ngSubmit)="onUpdate()">
        <mat-form-field>
            <input
            type="date"
            formControlName="toTrayAt"
            matInput>
        </mat-form-field>
        <button mat-button type="submit" color="primary">Add</button>
    </form>
</ng-template>

<ng-template #bagUpdate>
    <form [formGroup]="toBagForm" (ngSubmit)="onUpdate()">
        <mat-form-field>
            <input
            type="date"
            formControlName="toBagAt"
            matInput>
        </mat-form-field>
        <button mat-button type="submit" color="primary">Add</button>
    </form>
</ng-template>
