.card-section {
    margin-top: 7rem;
    padding: 1rem;
    /* background-color: grey; */
}

.card {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.card-content {
    padding: 2rem;
}

.card-content-status {
    width: 100%;
    border: 1px lightslategray solid;
    border-radius: 3px;
}

.tab-content-wrapper {
    padding: 1rem 0;
}

.spinner {
    margin-top: 3rem;
}