.container {
    margin-top: 8px;
}
.content-img-1 {
    width: 100vw;
}
.footer-wrapper {
    background-color: #ffa726; 
    margin-top: 3px;
    height: 300px;
}
p, .mat-button{
    color: white;
    font-size: 16pt;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.logo {
    padding-top: 10vw;
    padding-bottom: 21vw;
}