<div class="intro">
    <ul class="intro-list">
        <li class="intro-list-item intro-list-item__1">Welome to</li>
        <li class="intro-list-item intro-list-item__2" >HomemadeFarm</li>
        <li class="intro-list-item intro-list-item__3">Ban Khombang</li>
        <li class="intro-list-item intro-list-item__4">Chanthaburi</li>
    </ul>
</div>

<section class="first">
    <img class="first-img" src="../../../assets/logo.png">
</section>

<div class="scroll-box">
    <mat-icon>keyboard_arrow_down</mat-icon>
</div>

<!-- <div class="subscribe">
    <div class="subscribe-box">
        <div>เมื่อไหร่ ? จะเก็บ ? และอื่นๆ ?</div>
        <div>รับข้อมูลจากเรา !</div>
        <form>
            <mat-form-field>
                <input
                type="Email"
                matInput
                placeholder="อีเมลล์ของคุณ">
            </mat-form-field>
            <button class="btn" type="submit">Subscribe</button>
        </form>
    </div>
</div> -->

<section class="second">
    <h1 class="second-header">We are growing</h1>
    <div class="card-section"  *ngIf="cropList$ | async; let crop">
        <app-show-card *ngFor="let c of crop" [crop] = "c"></app-show-card>
    </div>
</section>

<section class="third">
    <h1 class="third-header">Our Farm</h1>
    <div class="third-content">
        <div class="third-content-1">
            <img class="third-content-1__img" src="../../../assets/DJI_0809_resized1.jpg">
            <div class="third-content-1__address">
                <p>
                    13 Moo 3 Ban <span>Khombang</span>
                </p>
                <p>
                    <span>Khombang</span> sub-District
                </p>
                <p>
                    Mueang District
                </p>
                <p>
                    <span>Chanthaburi</span>
                </p>
                <p>
                    22000
                </p>
                <p>
                    +66 92 993 1147
                </p>
                <p>
                    <a href="https://www.facebook.com/HOMEMADE.FARM.THAI" target="_blank">Facebook</a>
                </p>
                <p>
                    <a routerLink="/location">On Map</a>
                </p>
            </div>
        </div>
    </div>
</section>