<div class="dialog-container" fxLayout="column" [ngClass.xs]="xsStyle">
    <div class="form-header">
        <h3 class="form-title">New Seed</h3>
    </div>
    <form fxLayout="column" fxLayoutGap="0.1rem" [formGroup]="addSeedForm">
        <mat-form-field>
            <input
            type="text"
            matInput
            formControlName="name"
            placeholder="Name"
            required
            >
        </mat-form-field>

        <mat-form-field>
            <input
            type="number"
            matInput
            formControlName="harvestdays"
            placeholder="Day of Harvest"
            required
            >
        </mat-form-field>

        <mat-form-field>
            <input
            type="text"
            matInput
            formControlName="isNet"
            placeholder="Peel Type"
            >
        </mat-form-field>

        <mat-form-field>
            <input
            type="text"
            matInput
            formControlName="meatColor"
            placeholder="Meat Color"
            >
        </mat-form-field>
        
        <mat-form-field>
            <input
            type="text"
            matInput
            formControlName="brix"
            placeholder="Brix"
            >
            <mat-hint>13 -15</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <input
            type="text"
            matInput
            formControlName="texture"
            placeholder="Texture"
            >
        </mat-form-field>

        <mat-form-field>
            <input
            type="text"
            matInput
            formControlName="estWeight"
            placeholder="est. Weight [kg]"
            >
            <mat-hint>1.7 - 1.9</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <input
            type="number"
            matInput
            formControlName="total"
            placeholder="Input Amount"
            required
            >
        </mat-form-field>

        <mat-form-field>
            <input
            type="url"
            matInput
            formControlName="imgUrl"
            placeholder="Image Url"
            >
            <mat-hint>copy shared url from your googe drive</mat-hint>
        </mat-form-field>
        <div class="form-button" fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="center center">
            <button type="submit" mat-flat-button class="btn" color="primary" (click)="onAdd()">Add</button>
            <button type="button" mat-flat-button class="btn" color="warn" (click)="onClose()">Cancel</button>
        </div>
    </form>
</div>