<div fxFlex="1 1" fxLayout="column" fxLayoutAlign="center center" class="container">
    <mat-card class="about-card">
        <mat-card-header>
            <mat-card-title>Homemade Farm</mat-card-title>
            <mat-card-subtitle>Melon and more . . . </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/DJI_0809_resized1.jpg">
        <mat-card-content>
            <p class="farm-qoute">
                from the fevorite fruit and 
                veggie to the quality of human resources
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="about-card">
        <mat-card-header>
            <mat-card-title>Our Team</mat-card-title>
            <mat-card-subtitle>Friendly and smart support</mat-card-subtitle>
        </mat-card-header>
        <mat-list>
            <mat-list-item>
                <div mat-card-avatar class="filmav"></div>
                <a mat-button color="primary" target="blank" href="https://www.facebook.com/nonthasak.laoluerat"><div class="item-name">Feem</div></a>
            </mat-list-item>
            <mat-list-item>
                <div mat-card-avatar class="numav"></div>
                <a mat-button color="primary" target="blank" href="https://www.facebook.com/profile.php?id=100000199331916"><div class="item-name">Namm</div></a>
            </mat-list-item>
            <mat-list-item>
                <div mat-card-avatar class="toonav"></div>
                <a mat-button color="primary" target="blank" href="https://www.facebook.com/toon.puttisounthorn"><div class="item-name">Toon</div></a>
            </mat-list-item>
            <mat-list-item>
                <div mat-card-avatar class="dardarav"></div>
                <a mat-button color="primary" target="blank" href="https://www.facebook.com/dadar.sabtawan"><div class="item-name">DaDar</div></a>
            </mat-list-item>
            <mat-list-item>
                <div mat-card-avatar class="mayavatar"></div>
                <a mat-button color="primary" target="blank" href="https://www.facebook.com/sutisa.siri"><div class="item-name">May</div></a>
            </mat-list-item>
        </mat-list>
    </mat-card>
</div>