<div *ngIf="pollination$ | async; let tags" class="product-wrapper">
    <mat-card>
        <mat-card-header fxLayout="row" fxLayoutAlign="space-between">
            <mat-card-title>Product Sorting</mat-card-title>
            <div>
                <button [routerLink] = "['/products', _cropId, 'htable']" mat-fab color="accent"><mat-icon>view_list</mat-icon></button>
            </div>
        </mat-card-header>
        <div *ngIf="_crop.status !== 'Harvesting'">
        <mat-card-content>
            <form  [formGroup]="productForm" (ngSubmit)="onSubmit()" fxLayout="column">
                <div  fxLayout.xs="column" fxLayoutAlign.xs="stretch" fxLayoutAlign="center center" fxLayoutGap="0.5rem">
                    <mat-form-field>
                        <input
                        matInput
                        formControlName="row"
                        placeholder="Row"
                        maxlength="1"
                        [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let column of columns" [value]="column | uppercase">{{ column }}</mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="productForm.get('row').hasError('pattern')">Wrong pattern</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input
                        matInput
                        type="number"
                        formControlName="rowNumber"
                        placeholder="Row Number"
                        #rownumberInput
                        >
                    </mat-form-field>      

                    <div class="incrementor-wrapper" fxLayoutAlign="row" fxLayoutGap="0.5rem" fxLayoutAlign.xs="end">
                        <button mat-raised-button  color="accent" (click)="stepUp(rownumberInput, $event)">+</button><button mat-raised-button  color="accent" (click)="stepDown(rownumberInput, $event)">-</button>
                    </div>
                </div>
                <mat-form-field>
                    <mat-label>Grade</mat-label>
                    <mat-select
                    formControlName="grade">
                        <mat-option value="aaa">aaa</mat-option>
                        <mat-option value="aa">aa</mat-option>
                        <mat-option value="a">a</mat-option>
                    </mat-select>
                    <mat-hint>aaa = very good, aa = medium, a = bad</mat-hint>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Type</mat-label>
                    <mat-select
                    formControlName="species">
                        <mat-option *ngFor="let type of _crop.species" [value]="type">
                            {{ type }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>tag-color</mat-label>
                    <mat-select
                    formControlName="tagColor">
                        <mat-option *ngFor="let tag of tags" [value]="tag.tagColor">{{ tag.tagColor }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="addLoaded != true">
                    <mat-progress-bar  mode="indeterminate"></mat-progress-bar>
                </div>
                <button mat-raised-button color="warn">Add</button>
            </form>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="end center">
            <mat-checkbox [(ngModel)]="sorted">finish sorting?</mat-checkbox>
            <button [disabled]="!sorted" (click)="onSorted($event)" mat-raised-button>Finish</button>
        </mat-card-actions>
    </div>
    </mat-card>
</div>