<div fxLayout="column" fxLayoutAlign="center" class="container">
    <div fxFlexOffset="1rem" fxLayout="row" fxLayoutAlign="space-between" class="header"><h1>New Crop</h1><button routerLink="/admin" fxFlexAlign="center" mat-fab color="accent"><mat-icon>arrow_back</mat-icon></button></div>
    <div class="formWrapper" fxLayout="column" fxLayoutAlign="center center">
        <mat-card class="card">
            <mat-card-content>
                <form [formGroup]="cropForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="0.2rem">
                    <mat-form-field>
                        <input 
                        matInput
                        formControlName="cropId"  
                        placeholder="CROP-ID">
                        <mat-hint>ex: r[roomNo]c[cropNo][year]</mat-hint>
                    </mat-form-field>

                    <mat-form-field>
                        <input 
                        matInput
                        formControlName="room"  
                        placeholder="Room">
                    </mat-form-field>

                    <mat-form-field>
                        <input 
                        matInput
                        formControlName="crop"  
                        placeholder="Crop">
                    </mat-form-field>

                    <mat-form-field>
                        <input
                        matInput
                        formControlName="material"
                        placeholder="Material">
                        <mat-hint>ex: soi1:husk1:cow1</mat-hint>
                    </mat-form-field>

                    <!-- <mat-form-field>
                        <mat-label>Species</mat-label>
                        <mat-select
                        formControlName="species" 
                        multiple>
                            <mat-option *ngFor="let type of typeList | async" [value]="type.name">{{ type.name }}</mat-option>
                        </mat-select>
                    </mat-form-field> -->
                    <div class="species-wrapper">
                        <div formGroupName="speciesForm" fxLayout="column" fxLayoutGap="1rem">
                            <mat-form-field>
                                <mat-label>Species</mat-label>
                                <mat-select
                                formControlName="species"
                                >
                                <mat-option *ngFor="let type of typeList | async" [value]="type">{{ type.name }} [{{type.total}}]</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <input type="number"
                                matInput
                                placeholder="amount"
                                formControlName = "total"
                                >
                            </mat-form-field>
                            <button mat-flat-button type="button" color="warn" (click)="onAddType()"><mat-icon>add</mat-icon></button>

                            <div class="species-list" *ngIf="selectedType.length > 0;">
                                <mat-list>
                                    <div mat-subheader>Species List</div>
                                    <mat-list-item *ngFor="let item of selectedType; let i = index;">
                                        <button mat-icon-button color="warn" (click)="onRemove(i)"><mat-icon>cancel</mat-icon></button>
                                        <div mat-line> {{ item.species }}</div>
                                        <div mat-line> amount [{{ item.total }}] seeds</div>
                                    </mat-list-item>
                                </mat-list>
                            </div>
                        </div>
                    </div>

                    <mat-form-field>
                        <input 
                        matInput
                        type="date"
                        formControlName="createdAt" 
                        placeholder="Created at">
                    </mat-form-field>

                    <div fxLayout="row" fxLayoutAlign="space-evenly">
                        <button type="submit" mat-raised-button color="primary">Create</button>
                        <button (click)="onReset()" mat-raised-button color="warn">Reset</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
        
    </div>
</div>

<ng-template #loading>
    <div>loading...</div>
</ng-template>